elasticsearch>=7.3
pymysql~=0.10.0
tensorflow~=2.4.0
pandas~=1.0.5
time
math
Pillow~=7.2.0
matplotlib~=3.3.0
os
scikit-learn~=0.23.1

utils~=1.0.1
sklearn~=0.0
numpy~=1.19.0
opencv-python~=4.3.0.36
tqdm~=4.48.0